html,
.textarea-app {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.textarea-app__container {
  height: 100%;
}

.textarea-app__input {
  width: 100vw;
  height: 100dvh;
  box-sizing: border-box;
  border: none;
  resize: none;
  font-size: 16px;
  font-family: sans-serif;
}

.textarea-app__input:focus {
  outline: 3px solid #005fcc;
  outline-offset: 0;
}

.textarea-app__label--visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}
